div#container
{
   width: 800px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #000000;
   color: #000000;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 11px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #C0C0C0;
   text-decoration: underline;
}
a:visited
{
   color: #FF6820;
}
a:active
{
   color: #FFFF00;
}
a:hover
{
   color: #FFFFFF;
   text-decoration: underline;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   transform: rotate(1deg);
   transform-origin: 50% 50%;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_TextMenu13
{
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Tahoma;
   font-size: 13px;
   margin: 0;
   text-align: right;
}
#wb_TextMenu13 span
{
   margin: 0 0px 0 4px;
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_TextMenu7
{
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Tahoma;
   font-size: 19px;
   margin: 0;
   text-align: left;
}
#wb_TextMenu7 span
{
   display: block;
   margin: 0 0 4px 0;
   line-height: 23px;
}
